################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab01/.vs/Lab01
/Lab01/x64/Debug
/Lab01/Task2.7/x64/Debug
/Lab01/Task2.4/x64/Debug
/Lab01/Task2.1/x64/Debug
